.about {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.aboutTop {
  width: 100%;
  height: 45vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

.aboutBottom p {
  width: 100%;
  max-width: 1200px;
  line-height: 1.6;
  font-size: 1rem;
  color: #333;
}

.about .aboutBottom h1 {
  font-weight: 400;
  font-size: 70px;
  color: black;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
  display: block !important;
}